.advert__bottom_1{
    background-color: rgb(157, 255, 0);
    height: 210px;
    width: 600px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.dvertbottom__img_1{
    height: 210px;
    width: 210px; 
    padding-top: 16px;
}
.advert__bottom_2{
    background-color: rgb(0, 255, 128);
    height: 210px;
    width: 600px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.dvertbottom__img_2{
    height: 210px;
    width: 210px; 
    padding-top: 16px;
}
