.advert__bottom_1{
    height: 210px;
    width: 600px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-image: url("green.jpg");
    background-position: center;
    background-size: cover;
   
}
.dvertbottom__img_1{
    height: 210px;
    width: 210px; 
    padding-top: 16px;
}
.advert__bottom_2{
    height: 210px;
    width: 600px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-image: url("blue.jpg");
    background-position: center;
    background-size: cover;
}
.dvertbottom__img_2{
    height: 210px;
    width: 210px; 
    padding-top: 16px;
}
