header {
    background-color: rgb(243, 231, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo {
    font-size: 1.5em;
    padding-left: 20px;
}
.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}
.search:focus {
    border-bottom-color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
}
.profile{
    padding-right: 20px;
}