header {
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
/* rgb(255, 196, 0); */
.logo {
    font-size: 1.5em;
    padding-left: 20px;
}
.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}
.search:focus {
    border-bottom-color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    padding: 10px;
    height: 50px;
    align-items: center;
}
.profile{
    padding-right: 20px;
}

.badge-link{
    position: relative;
}
.badge{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 15px;
    height: 15px;
    text-decoration: none;
    font-size: 9px;
    position: absolute;
    bottom:0px;
    right: -7px;
}

.name_btn{
    background-color: rgb(118, 65, 187);
    height: 40px;
    text-align: center;
    color: #fff;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.name_btn:hover{
    box-shadow: 0 0 5px rgba(34, 34, 34, 0.877);
    color: #fff;
}
